@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--title: Finlandica;
	--text: Montserrat;
	--text-color: #1A2447;
	--text-color2: #2B3BF3;
	--bkg_1: #ECF4FF;
	--primary-hover: #2B3BF3;
	--background: #1A2447;
	--primary: #B1CDFF;
	--primary_2: #2B3BF3;
	--accent: #67ce3b;
	--red: #fc5c56;
	--red-hover: #ed5853;
	--gray: #5f5e5f;
	--gradient: radial-gradient(100% 100% at 100% 0%, #f756ff 0%, #b644c1 100%);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--text);
}
#root {
	width: 100vw;	
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background);
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}
main{
	width: 100%;
	display: flex;
	justify-content: center;
}