#loadpage{
    background-color: var(--bkg_1);
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    font-size:x-large;
    & h1, h3{
        font-family: var(--font-title);
    }
    & h1{
        color: var(--text-color2);
        padding-top: 1rem;
    }
}
.loader {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #f1Wrapper {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }

  #f1body{
    height: 101px;
    animation: motion 1s linear infinite;
  }
  /*suspension animation*/
  @keyframes motion {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .road {
    width: 100%;
    height: 1.5px;
    background-color: #282828;
    position: relative;
    bottom: 0;
    align-self: flex-end;
    border-radius: 3px;
  }
  .road::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: #282828;
    right: -50%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
  }
  .road::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #282828;
    right: -65%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
  }
  
  .lampPost {
    position: absolute;
    bottom: 0;
    right: -90%;
    height: 90px;
    animation: roadAnimation 2.5s linear infinite;
  }
  
  @keyframes roadAnimation {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-1200px);
    }
  }
  
  #load-content{
    margin-top: 10rem;
  }